
@code {

}

<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link link-dark">Processes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-dark">Structures</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-dark">People</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-dark">Policies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-dark">Culture</a>
    </li >
    <li class="nav-item">
        <a class="nav-link link-dark">Technology</a>
    </li>
</ul>