@page "/auditDashBoard"

@code {

}

<div class="container">
    <div class="mb-5 row">
    <ComponentSelectBar />
    </div>

    <div class = "row">
        <div class="col border pb-5 col-md-5 mx-4 rounded text-center">
            <h3>Description</h3>
            <p>Text</p>
        </div>
        <div class="col border pb-5 col-md-5 mx-4 rounded text-center">
            <h3>Purpose</h3>
            <p>Text</p>
        </div>
    </div>

    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</div>

