@page "/auditDashBoard"
@using Cobit_19.Business.ObjectiveAudits
@using Microsoft.AspNetCore.Identity
@using Cobit_19.Shared.Dtos
@inject ObjectiveAuditProvider objectiveAuditProvider

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int objectiveAuditId { get; set; }
    public FullObjectiveAuditDto auditObject;
    public string auditJSON;

    protected override void OnInitialized()
    {
        auditJSON = objectiveAuditProvider.getAuditJSON(objectiveAuditId);
        auditObject = AuditJSONParsingService.parseAuditTemplate(auditJSON);
    }
}

<div class="container">

    <div>

    </div>
    <div class="mb-5 row">
    <ComponentSelectBar objectiveAuditId="@objectiveAuditId"/>
    </div>

    <div class = "row">
        <div class="col border pb-5 col-md-5 mx-4 rounded text-center">
            <h3>Description</h3>
            <p>@auditObject.objectiveDescription</p>
        </div>
        <div class="col border pb-5 col-md-5 mx-4 rounded text-center">
            <h3>Purpose</h3>
            <p>@auditObject.objectivePurpose</p>
        </div>
    </div>

    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</div>

