@page "/objectiveAuditSelect"
@using Cobit_19.Shared.Dtos
@using Microsoft.AspNetCore.Identity
@using Cobit_19.Business.ObjectiveAudits
@inject ObjectiveAuditProvider objectiveAuditProvider
@inject NavigationManager navigationManager

@code {
    IList<ObjectiveAuditDto> objectiveAudits;
    [Parameter]
    [SupplyParameterFromQuery]
    public int AuditId { get; set; }
    protected override void OnInitialized()
    {
        objectiveAudits = objectiveAuditProvider.getAll(AuditId);
    }

    private void auditButtonClick(int objectiveAuditId)
    {
        navigationManager.NavigateTo("/auditDashboard?objectiveAuditId=" + objectiveAuditId);
    }
}

<div class="container">
    <div>
        <h5>Maturity Assesments</h5>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Audit Name</th>
                    <th>Description</th>
                    <th>Maturity Level</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var audit in objectiveAudits)
                {
                    <tr>
                        <th>Test</th>
                        <th>@audit.Objective.Code</th>
                        <th>1</th>
                        <th>@audit.Status</th>
                        <th><button class="btn btn-primary" @onclick = "() => auditButtonClick(audit.ID)">Modify</button></th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
