@using Cobit_19.Shared.Dtos

@code {
    [Parameter]
    public List<subComponentQuestionDto> outputQuestions { get; set; }
}


<table class=" table table-borderless">
    <thead>
        <tr class="table-secondary rounded">
            <th><h6 class="text-muted">Description</h6></th>
            <th><h6 class="text-muted">To</h6></th>
            <th><h6 class="text-muted">Importance/Relevance</h6></th>
            <th><h6 class="text-muted">N (Not achieved)</h6></th>
            <th><h6 class="text-muted">P (Partially Achieved)</h6></th>
            <th><h6 class="text-muted">L (Largely Achieved)</h6></th>
            <th><h6 class="text-muted">F (Fully Achieved)</h6></th>
            <th><h6 class="text-muted">Comment</h6></th>
        </tr>
    </thead>

    <tbody>
        @foreach (subComponentQuestionDto question in outputQuestions)
        {
            <tr>
                <th><h6>@question.questionDescription</h6></th>
                <th><h6>@question.outputTo</h6></th>
                <th>
                    <select name="answer">
                        @for (int i = 0; i <= 10; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </th>
                <th class="text-center">
                    <div class="rounded-2 p-2 bg-danger text-black">
                        X
                    </div>
                </th>
                <th class="text-center">
                    <div class="rounded-2 p-2 bg-warning text-black">
                        X
                    </div>
                </th>
                <th class="text-center">
                    <div class="rounded-2 p-2 bg-success text-black">
                        X
                    </div>
                </th>
                <th class="text-center">
                    <div class="rounded-2 p-2 bg-info text-black">
                        X
                    </div>
                </th>
                <th>
                    <input type="text" />
                </th>
            </tr>
        }
    </tbody>
</table>