@using Cobit_19.Shared.Dtos;
@code {
    protected SfChart? sfChart;

    private List<ObjectiveValueDto>? _objectiveDto;

    // Used to refresh the chart
    [Parameter]
    public List<ObjectiveValueDto>? Values
    {
        get { return _objectiveDto; }
        set 
        { 
            _objectiveDto = value;
            if(sfChart is not null)
                sfChart.RefreshAsync();
        }
    }
}

@if (_objectiveDto is null)
{
    <h1> NO DATA</h1>
}
else
{
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="container-fluid">
                <SfChart @ref="sfChart" Title="Bussiness Objectives">
                    <ChartPrimaryXAxis Interval="1" ValueType="Syncfusion.Blazor.Charts.ValueType.Category">
                    </ChartPrimaryXAxis>

                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>

                    <ChartSeriesCollection>
                        <ChartSeries DataSource="@_objectiveDto" XName="Objective" YName="RelativeInportance"
                                     Type="ChartSeriesType.Column" DrawType="ChartDrawType.Area">
                        </ChartSeries>
                    </ChartSeriesCollection>
                </SfChart>
            </div>
        </div>
    </div>
}
